apiVersion: v1
kind: Secret
metadata:
  name: unideploy-secrets
  namespace: unideploy
type: Opaque
stringData:
  database-url: "postgresql://postgres:PASSWORD@HOST:5432/postgres"
  firebase-service-account-json: |
    {
      "type": "service_account",
      "project_id": "...",
      ...
    }
